<tr>
  <td><%= available_product.product.name %></td>
  <td><%= available_product.product.description %></td>
  <td><%= available_product.color.id %></td>
  <td><%= available_product.size.name %></td>
  <td><%= available_product.quantity %></td>
  <td>
    <%= edit_resource edit_product_path(available_product.product) %>
    <%= remove_resource available_product_path(available_product), {}%>
  </td>
</tr>
